$colorLetra: rgb(141, 153, 174);

header {
    background-color: rgb(237, 242, 244);
    border-bottom: 5px outset ;
}

@media (max-width:767px) { /*TAMAÑO SMARTPHONE*/
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        z-index: 2;
    }
    
    .logo {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .logo img {
        height: 75px;
        width: 200px;
    }

    .menu {
        justify-self: end;
        align-self: center;

        .checkButtom {
            display: grid;
            align-self: center;
        }
    }
    
    .buttonMenu{
        font-size: 32px;
        cursor: pointer;
        margin-right: 20px;
    }
    
    .buttonMenu img { 
        height: 30px;
        cursor: pointer;
        position: relative;
    }
    
    .menuItems{
        position: absolute;
        opacity: .8;
        top: -100%;
        background-color: black;
        width: 100%;
        right: 0;
        text-align: center;
        line-height: 40px;
        z-index: 1;
        transition: all .7s;
    }
    
    #check{
        display: none;
    }
    
    #check:checked ~ .menuItems{
        top: 80px;
        z-index: 1;
        transition: all .7s;
    }

    a {
        text-decoration: none;
        color: whitesmoke;
    
    }
    
    a:hover {
        color: white;
    }
}

@media (min-width:768px) { /*TAMAÑO TABLET*/
    header{
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .logo {
        display: flex;
        justify-content: center;
        position: relative;

        img {
            height: 100px;
            width: 300px;
        }
    }

    .menu {
        display: grid;
        justify-content: end;
        width: 100%;
    }

    .buttonMenu img {
        display: none;
    }
    
    .menuItems {
        align-content: center;
        li {
            display: inline-block;
            margin-right: 10px;
            position: relative;
    
            a {
                text-decoration: none;
                color: $colorLetra;
                font-size: 15px;
        
                &:hover {
                    border-bottom: 5px outset;
                    color: black;
                    transition: all 0.3s;
                    ;
                }
            }
        }
    }

    #check{
        display: none;
    }    
}

@media (min-width:1024px) { /*TAMAÑO DESKTOP*/
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .logo {
        width: 100%;
    }
    
    .menu {
        display: grid;
        justify-content: end;
        width: 100%;
    }

    .buttonMenu img {
        display: none;
    }
    
    .menuItems {
        li {
            display: inline-block;
            margin-right: 10px;
            position: relative;
    
            a {
                text-decoration: none;
                color: $colorLetra;
                font-size: 20px;
        
                &:hover {
                    border-bottom: 5px outset;
                    color: black;
                    transition: all 0.3s;
                    ;
                }
            }
        }
    }

    #check{
        display: none;
    }    
}