@import "variables";

@media (max-width:767px) {  /*TAMAÑO SMARTPHONE*/
    .mainSucursales {
        display: grid;
        justify-content: center;
        grid-row-gap: 50px;

        h1 {
            border-bottom: 5px outset;
        }

        .sucursales {
            display: grid;
            justify-content: center;
            text-align: center;
            grid-row-gap: 80px;
    
            .sucursal {
                display: grid;
                grid-row-gap: 5px;
                justify-content: center;
                @extend .estiloElemento;

                .linea {
                    justify-self: center;
                    width: 350px;
                }
    
                .mapaImagen {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-row-gap: 20px;
            
                    iframe, img {
                        height: 300px;
                        width: 300px;
                        justify-self: center;
                    }
                }
            }
        }

        .quejasSugerencias {
            display: grid;
            justify-content: center;
            grid-row-gap: 5px;
            padding-bottom: 30px;
            @extend .estiloElemento;
        }
    }    
}

@media (min-width:768px) {  /*TAMAÑO TABLET*/
    .mainSucursales {
        display: grid;
        justify-content: center;
        grid-row-gap: 50px;

        h1 {
            border-bottom: 5px outset;
        }

        .sucursales {
            display: grid;
            justify-content: center;
            text-align: center;
            grid-row-gap: 80px;
    
            .sucursal {
                display: grid;
                grid-row-gap: 5px;
                justify-content: center;
                @extend .estiloElemento;
        
                .linea {
                    justify-self: center;
                }
        
                .mapaImagen {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 10px;
            
                    iframe, img {
                        height: 300px;
                        width: 300px;
                    }
                }
            }
        }

        .quejasSugerencias {
            display: grid;
            justify-content: center;
            grid-row-gap: 5px;
            padding-bottom: 30px;
            @extend .estiloElemento;
        } 
    }
}
    

@media (min-width:1024px) { /*TAMAÑO DESKTOP*/
    .mainSucursales {
        display: grid;
        justify-content: center;
        grid-row-gap: 70px;

        h1 {
            border-bottom: 5px outset;
        }

        h2 {
            font-size: 40px;
        }
        
        .sucursales {
            display: grid;
            justify-content: start;
            grid-row-gap: 80px;
    
            .sucursal {
                display: grid;
                grid-row-gap: 5px;
                justify-items: center;
                @extend .estiloElemento;
        
                .linea {
                    justify-self: center;
                }
        
                .mapaImagen {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
        
                    iframe, img {
                        height: 400px;
                        width: 400px;
                    }
                }
            }
        } 

        .quejasSugerencias {
            display: grid;
            justify-content: center;
            grid-row-gap: 5px;
            padding-bottom: 30px;
            @extend .estiloElemento;
        }
    }
}