@charset "UTF-8";
@media (max-width: 767px) {
  /*TAMAÑO SMARTPHONE*/
  .mainEmpanadas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    grid-row-gap: 50px;
  }
  .mainEmpanadas .linea {
    width: 350px;
  }
  .mainEmpanadas .elemento {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 350px;
        grid-template-columns: 350px;
    -ms-grid-rows: 350px 80px 30px;
        grid-template-rows: 350px 80px 30px;
    grid-row-gap: 10px;
    -ms-grid-column-align: center;
        justify-self: center;
    background-color: #d90429;
    border: 10px solid #d90429;
  }
  .mainEmpanadas .elemento .fotoEmpanada {
    height: 350px;
    width: 350px;
  }
  .mainEmpanadas .elemento .fotoEmpanada img {
    height: 350px;
    width: 350px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 768px) {
  /*TAMAÑO TABLET*/
  .mainEmpanadas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-row-gap: 10px;
  }
  .mainEmpanadas .linea {
    width: 350px;
  }
  .mainEmpanadas .elemento {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px 350px 90px;
        grid-template-columns: 180px 350px 90px;
    grid-gap: 10px;
    -ms-grid-rows: 180px;
        grid-template-rows: 180px;
    -ms-grid-column-align: center;
        justify-self: center;
    background-color: #d90429;
    border: 10px solid #d90429;
  }
  .mainEmpanadas .elemento .fotoEmpanada {
    height: 180px;
    width: 180px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .mainEmpanadas .elemento .fotoEmpanada img {
    height: 180px;
    width: 180px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 1024px) {
  /*TAMAÑO DESKTOP*/
  .mainEmpanadas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-row-gap: 10px;
  }
  .mainEmpanadas .linea {
    width: 350px;
  }
  .mainEmpanadas .elemento {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 210px 400px 100px;
        grid-template-columns: 210px 400px 100px;
    grid-gap: 10px;
    -ms-grid-rows: 200px;
        grid-template-rows: 200px;
    -ms-grid-column-align: center;
        justify-self: center;
    background-color: #d90429;
    border: 10px solid #d90429;
  }
  .mainEmpanadas .elemento .fotoEmpanada {
    height: 200px;
    width: 200px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .mainEmpanadas .elemento .fotoEmpanada img {
    height: 200px;
    width: 200px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=empanadas.css.map */